<h1> Listing internets </h1>

<table>
	<thead>
		<tr>
			<th>name </th>
			<th>speed</th>
			<th>amount</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>	
	</thead>	


	<tbody>
		<% @internet.each do | f | %>
		<tr>
			<td><%= f.name %></td>
			<td><%= f.speed %></td>
			<td><%= f.amount %></td>
			<td><%= link_to 'Show', f %></td>
			<td><%= link_to 'Edit', edit_internet_path(f) %></td>
			<td><%= link_to 'Destroy', f, method: :delete, data:{confirm: 'Are you sure?'} %></td>
		</tr>
		<% end %>
		
	</tbody>
</table>

<br>


<%= link_to 'New Internet', new_internet_path %>